.header-section{
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
    background-color:white;
   border-bottom:1px solid rgb(200,200,200);
   z-index:100;
}

.header-left-section{
    width:180px;
    display:flex;
    align-items: center;
    margin-right:60px;
}
.hamburger-img{
    height:22px;
    margin-left:20px;
    margin-right:24px;
}
.youtube-img{
    height:22px;
}
.header-middle-section{
    display:flex; 
    width: 450px;
    justify-content: center;
    align-items:center;
}
.header-middle-section input{
    flex:1;
    height:24px; 
    padding:8px 6px;
    font-size:16px;
    border:1px solid rgb(200,200,200);
    width:0;
}
.search-button{
    width:60px;
    height:41px;
    margin-left:-4px;
    border:1px solid rgb(200,200,200);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right:8px;
    
}

.voice-search-button{
    height:38px;
    width:38px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    border:none;
    background-color: rgb(247, 247, 247);
}
.voice-search-img{
    height:24px;
}
.search-img{
    height:24px;
}
.header-right-section{
    width:180px;
    margin-left:55px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-right:30px;
    flex-shrink:0;
}
.upload-img,.youtube-apps-icon,.notifications-img{
    height:24px;
}
.my-channel-img{
    height:32px;
    
}